@import url('https://fonts.googleapis.com/css2?family=Barlow+Condensed:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Barlow Condensed", sans-serif;
}
body {
    background-image: url('../img/Background.jpg');
    background-size: cover; /* Ajusta la imagen para cubrir toda la pantalla */
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-attachment: fixed; /* imagen  fija durante el scroll */
    background-position: center; /* Centra la imagen */
}
.container {
    display: grid;
    width: 100%;
    height: 100vh;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 1fr 1fr;
    grid-template-areas: 
        "logo logo menu     quienessomos"
        "logo logo locales  contactos";
    font-size: 75px; 
    text-align: center;
}
.logo {
    grid-area: logo; 
}
.quienessomos {
    grid-area: quienessomos; 
}
.locales {
    grid-area: locales;
}
.contactos {
    grid-area: contactos;
}
.menu {
    grid-area: menu;
}
.container > div {
    display: grid;
    place-items: center;
    position: relative;
    overflow: hidden;
}

.container > div img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    opacity: 0.7;
}

@media screen and (max-width: 768px) {
    .container {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr 1fr 1fr;
        grid-template-areas: 
        "logo           logo"
        "quienessomos   menu"
        "locales        contactos";
        font-size: 65px; 
        text-align: center; 
    }
}

@media screen and (max-width: 480px){
    .container {
        display: flex;
        flex-direction: column;
    }
    .container > * {
        flex: 1;
        font-size: 50px; 
        text-align: center;
    }
    .logo {
        flex: 1.5;
    }
}
/* css del inicio/index */

/* lo trabajado en menu */
.container2 {
    padding: 15px;
    margin-left: 15px;
    margin-right: 15px;
}
.card {
    margin: 15px;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-shadow: rgba(219, 5, 5, 0.56) 0px 10px 25px 4px;
}
.card-img-top {
    width: 100%;
    height: auto;
    max-height: 200px;
    object-fit: contain; /* Ajusta la imagen para que se contenga dentro del contenedor */
}
.card-body {
    flex: 1;
    display: flex;
    flex-direction: column;
}
.btn {
    align-self: flex-end;
}
h5 {
    padding-right: 60px;
}
/* pagina Nuestros locales */
.container3 {
    padding-left: 100px;
    padding-right: 250px;
}
h2 {
    padding: 15px;
    margin-left: 70px;
}
.locales {
    box-shadow: rgba(0, 0, 255, 0.342) 0px 0px 0px 2px inset, rgba(255, 255, 255, 0.068) 10px -10px 0px -3px, rgba(30, 193, 27, 0.39) 10px -10px, rgba(255, 255, 255, 0.089) 20px -20px 0px -3px, rgb(255, 217, 19) 20px -20px, rgba(255, 255, 255, 0.055) 30px -30px 0px -3px, rgba(255, 156, 85, 0.315) 30px -30px, rgba(255, 255, 255, 0.075) 40px -40px 0px -3px, rgba(255, 85, 85, 0.295) 40px -40px;
}
/* pagina quienes somos */
.container4 {
    padding-left: 150px;
    padding-right: 150px;
}

/* lo trabajado en nuestros locales */ 

.hero {
    padding: 20px;
    background-color: #333;
  }
  
  /* Ajustes generales para las imágenes */
  .locales {
    max-width: 100%;
    height: auto;
  }
  
  /* Estilo para las secciones container3 */
  .container3 {
    padding: 20px;
    box-sizing: border-box;
  }
  
  /* Estilo para los párrafos en container3 */
  .container3 p {
    margin-bottom: 20px;
  }
  
  /* Media query para pantallas pequeñas (max-width: 768px) */
  @media (max-width: 768px) {
    .fs-2 {
      font-size: 1.5rem;
    }
  
    .fs-3 {
      font-size: 1.2rem;
    }
  
    .hero h1,
    .hero h2 {
      font-size: 1.8rem;
      text-align: center;
    }
  
    .container3 p {
      font-size: 1rem;
      padding: 0 10px;
      text-align: center;
    }
  
    .ps-5 {
      padding-left: 1rem !important;
    }
  
    /* Asegurarse de que las imágenes se ajusten al contenedor en pantallas pequeñas */
    .col-md-5 img,
    .col-md-4 img,
    .col-md-7 img,
    .col-md-8 img {
      width: 100%;
      height: auto;
    }
  
    /* Cambios para que las columnas se apilen en pantallas pequeñas */
    .col-md-5,
    .col-md-4,
    .col-md-7,
    .col-md-8 {
      flex: 0 0 100%;
      max-width: 100%;
      padding: 10px;
    }
  
    .d-flex {
      flex-direction: column;
    }
  }

 /* lo trabajado en quienes somos */

/* Estilos generales para el contenedor de las imágenes */
.team_img {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre las imágenes */
    flex-wrap: wrap; /* Permite que las imágenes se dispongan en varias filas si es necesario */
  }
  
  /* Estilo para las imágenes */
  .teamimg {
    width: 100%; /* Ocupa todo el ancho disponible del contenedor */
    max-width: 500px; /* Tamaño máximo de las imágenes */
    height: auto; /* Mantiene la proporción de aspecto */
    object-fit: cover; /* Asegura que las imágenes cubran el contenedor sin distorsionarse */
    margin: 10px; /* Espacio alrededor de cada imagen */
  }
  
  /* Media query para pantallas medianas (max-width: 992px) */
  @media (max-width: 992px) {
    .teamimg {
      max-width: 992px; /* Ajusta el tamaño máximo en pantallas medianas */
    }
  }
  
  /* Media query para pantallas pequeñas (max-width: 768px) */
  @media (max-width: 768px) {
    .teamimg {
      max-width: 700px; /* Ajusta el tamaño máximo en pantallas pequeñas */
    }
  }
  
  /* Media query para pantallas extra pequeñas (max-width: 576px) */
  @media (max-width: 576px) {
    .teamimg {
      max-width: 500px; /* Ajusta el tamaño máximo en pantallas extra pequeñas */
    }
  }

 

/* pagina trabajaconnos */
.form-container {
    max-width: 600px;
    margin: auto;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0,0,0,0.1);
    background-color: #282b2e;
}
.container5 {
    max-width: 1500px;
    margin: auto;
}
@media (max-width: 576px) {
    .form-container {
        padding: 10px;
    }
    .form-label {
        font-size: 14px;
    }
    .text-white {
        font-size: 14px;
    }
}

/* footer*/ 


.social-icons {
    display: flex;
    justify-content: center;
    gap: 15px; /* Espacio entre los iconos */
  }
  
  .social-icon {
    width: 100px; /* Tamaño del icono */
    height: 100px;
  }
  footer {
    margin-top: 75px;
  }

/*** animista ***/

 @-webkit-keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}@keyframes swing-in-top-fwd{0%{-webkit-transform:rotateX(-100deg);transform:rotateX(-100deg);-webkit-transform-origin:top;transform-origin:top;opacity:0}100%{-webkit-transform:rotateX(0deg);transform:rotateX(0deg);-webkit-transform-origin:top;transform-origin:top;opacity:1}}